header{
    height: 90px;
    background-color: black;
}

.header-logo{
    width: 120px;
    height: 33px;
}

.nav-link{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.header-btn{
    all: unset;
    padding: 12px 18px;
    border-radius: 4px;
    background-color: #FF342B;
}
.header-btn-link{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.menu-icon{
   display: none;
}

.space-agency{
    margin-top: 90px;
    margin-bottom: 90px;
}


.space-agency-title{
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #0A121E;
}

.space-agency-subtitle{
    width: 751px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #3C3C3C;
}

.space-blocks{
    width: 263px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    margin-top: 19px;
}

.space-blocks-icons{
    width: 64px;
    height: 64px;
    margin-bottom: 30px;
}

.space-blocks-text{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    color: #0A121E;
}

.img-space{
    width: 457px;
    height: 457px;
}

.photo{
    background-color: #3C3C3C;
    height: 892px;
    margin-top: 90px;
}

.corusel{  
    width: 100%;
    text-align: center;
  }

.photo-title{  
    padding-top: 90px;
    padding-bottom: 60px;
    color: white;
  }
  
.corusel img{  
    display: inline-block;
    border-radius: 30px;
}

.slider-for{
    margin-bottom: 25px;
}

.slider-for img{
    vertical-align:super;
    box-shadow: 0px 5px 10px 0px #00000080;
}

.slider-nav{
    display: inline-block;
    width: 1117px;
}

.slick-prev:before {
    content: url("/static/img/arrow_left.svg");
    color: white;
    position: relative;
    right: 37px;
    bottom: 15px;
  }
  
.slick-next:before {
    content: url("/static/img/arrow_right.svg");
    color: white;
    position: relative;
    bottom: 15px;
  }

  @media(max-width: 1200px) {
    header{
        height: 70px;
    }
    header .menu{
        position: fixed;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.8);
        left: -100%;
        display: flex;
        flex-direction: column;
    }
    .menu-icon{
        display: flex;
        align-items: center;
    }

    .logo{
        justify-content: start;
        margin-left: 10px;
    }

    .space-agency{
        margin-bottom: 45px;
        margin-top: 45px;
    }

    .space-agency-title{
    font-size: 36px;
    line-height: 44px;
    }

    .space-agency-subtitle{
        font-size: 16px;
        width: 90%;
    }

    .space-blocks{
        margin-left: 0px;
        width: 165px;
    }


    .space-blocks-text{
        width: 145px;
    }

    .img-space{
        width: 97%;
        height: 97%;
    }

    .photo{
        height: 100%;
        margin-top: 45px;
        padding-bottom: 52px;
    }

    .photo h1{
        padding-top: 60px;
        padding-bottom: 42px;
    }
    .slider-for img{
        width: 100%;
    }

    .slider-nav img{
        width: 80px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .slider-nav{
        width: 100%;
    }
  }